- name: Install packages
  become: true
  pacman:
    name:
      - bash-completion
    state: present

- name: Deploy .inputrc
  copy:
    src: files/inputrc
    dest: "{{ home }}/.inputrc"
    mode: '0644'

- name: Deploy .bashrc
  copy:
    src: files/bashrc
    dest: "{{ home }}/.bashrc"
    mode: '0644'

- name: Create .bashrc.d directory
  file:
    path: "{{ home }}/.bashrc.d"
    state: directory
    mode: '0755'

- name: Copy .bashrc.d drop-in files
  copy:
    src: files/bashrc.d/
    dest: "{{ home }}/.bashrc.d/"
    mode: '0644'

- name: Check pkgfile's cache age
  stat:
    path: /var/cache/pkgfile/.db_version
  register: pkgfile_stat

- name: Update pkgfile only if cache is older than 7 days
  become: true
  command: pkgfile -u
  when: >
    not pkgfile_stat.stat.exists or 
    (ansible_facts['date_time']['epoch'] | int) - (pkgfile_stat.stat.mtime | int) > 2592000
