- name: Create config directory
  file:
    state: directory
    path: "{{ home }}/.config/rclone"
    mode: '0755'

- name: Touch rclone.conf
  file:
    state: touch
    path: "{{ home }}/.config/rclone/rclone.conf"
    mode: '0644'
    force: false
  changed_when: false

- name: Check config doesn't exist
  command: "grep -q dropbox {{ home }}/.config/rclone/rclone.conf"
  ignore_errors: true
  failed_when: false
  register: dropbox_exist
  changed_when: false

- name: Configure remote dropbox
  shell: rclone config create db dropbox
  when: dropbox_exist.rc != 0

- name: Create dropbox directory
  file:
    state: directory
    path: "{{ home }}/dropbox/workspace/bootstrap/"
    mode: '0755'

- name: Copy keepassxc database
  command: "rclone copy db:workspace/bootstrap/ywngr_mac.kdbx {{ home }}/dropbox/workspace/bootstrap/"
  args:
    creates: "{{ home }}/dropbox/workspace/bootstrap/ywngr_mac.kdbx"

- name: Create obsidian directory
  file:
    state: directory
    path: "{{ home }}/dropbox/Obsidian/"
    mode: '0755'

- name: Copy obsidian notes
  command: "rclone copy db:Obsidian {{ home }}/dropbox/Obsidian/"
  args:
    creates: "{{ home }}/dropbox/Obsidian/Zettelkasten/"
