- name: Ensure .ssh directory present
  file:
    state: directory
    path: /home/{{ username }}/.ssh
    mode: '0700'

- name: Copy .ssh/config file
  copy:
    src: files/ssh_config
    dest: "{{ home }}/.ssh/config"
    mode: '0644'

- name: Enable ssh-agent.service
  ansible.builtin.systemd_service:
    name: ssh-agent.service
    enabled: true
    scope: user

- name: Enable ssh-agent.socket
  ansible.builtin.systemd_service:
    name: ssh-agent.socket
    enabled: true
    scope: user

