- name: Update system
  become: true
  pacman:
    update_cache: yes
    upgrade: yes

- name: Install base packages
  become: true
  pacman:
    name:
      - 7zip
      - alacritty
      - base
      - base-devel
      - bat
      - bind
      - curl
      - firefox
      - git
      - gparted
      - htop
      - imagemagick
      - jq
      - keepassxc
      - kitty
      - less
      - linux-lts
      - linux-lts-headers
      - linux-zen
      - linux-zen-headers
      - lsof
      - mpv
      - mpv-mpris
      - neovim
      - nicotine+
      - nvtop
      - obsidian
      - openssh
      - pkgfile
      - playerctl
      - qbittorrent
      - rclone
      - socat
      - strace
      - strawberry
      - tmux
      - unzip
      - whois
      - wget
      - yt-dlp
      - zsh
    state: present

