[Desktop Entry]
Name=Ryujinx
Comment=Nintendo Switch emulator
Exec=env MANGOHUD=1 {{ nvidia_offload_env }} {{ archive_1tb_path }}/Apps/Ryujinx.AppImage
Icon=ryujinx
Terminal=false
Type=Application
Categories=Game;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true

